body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #262626;
}
.clock {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.time {
    font-weight: bold;
}
/* Adiciona uma transição suave para o hover */
.clock:hover {
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
}
